<appSettings>
  <add key="CargoDocuments" value="DOCUMENTS"/>
  <add key="SiteRoot" value="/CCM"/>
  <add key="AppVer" value="1.0.0"/>
  <add key="IsEncrypted" value="false"/>
  <add key="IsMaintenanceMode" value="false"/>
  <add key="ShowGlobalWarningMessage" value="false"/>
  <add key="GlobalWarningMessage" value="Maintenance server akan dilaksanakan pada hari Sabtu 1 Februari 2014 jam 23.00. Server tidak bisa diakses pada masa itu selama kira-kira 2 jam."/>
  <add key="aspnet:MaxHttpCollectionKeys" value="5000"/>
  <add key="SpecimenImagesPath" value="D:\DCT_DOCS\SPECIMEN_IMAGES" />
  <add key="ESSMasterPath" value="D:/DCT_DOCS/KUIS/" />
  <add key="TempPhoto" value="C:/DCT_DOCS/ESSL/TempPhoto/" />
  <add key="EncryptionKey" value="Beprocureit123"/>
  <add key="DomainName" value="http://localhost:2828/"/>
  <add key="TRXPath" value="D:/DCT_DOCS/KUIS/"/>
  <add key="SnapshotPath" value="D:/DCT_DOCS/KUIS/Snapshot/"/>
  <add key="BaseURL" value="http://localhost:2828/"/>
</appSettings>