<connectionStrings>
  <clear/>

	<add name="ADVESS"
		 connectionString="Data Source=10.10.0.223;Initial Catalog=ADVESS;User Id=sa;Password=pass@word1;Application Name=DCTWEB"
		 providerName="System.Data.SqlClient" />
	<add name="ADVPSIKOTEST"
		 connectionString="/a5g0UiOeD5EoLYYxbrChyxsQJYlRH2p553CA2PHcR1kwpjsci0XF5S2LyB3W0YZ2beD7fpoEoDYD4LfXCeefWr42ijC/t/FHGl7sYKyMDL55zdgKFmDjmQ1yCBFjsnDO6TyvbEbgqIzlyRcoBsQ4w=="
		 providerName="System.Data.SqlClient" />
  <add name="DCT4"
       connectionString="/a5g0UiOeD5EoLYYxbrChyxsQJYlRH2p553CA2PHcR2IwVTgcpZQtscZgOL5Z1rpu8jhfpu7bvantpA5gibdnyXKFLb3PaZx/R2C+nINCFNKsh7hrrPajx3wiHYH2hcYBhnrL05GQ3VZrtYkWocJRA=="
       providerName="System.Data.SqlClient" />

  <add name="INSYST"
       connectionString="/a5g0UiOeD5EoLYYxbrChyxsQJYlRH2p553CA2PHcR1Iqboq+8XFCbnkuTLjakcYFDmuFhEPRC0rgclhNR+FpRsmBmLHgitkRom35I+fYod8lT9i1jDYIiBRFKEK6s155UE4FuRvmF1+3dl9A61BLg=="
       providerName="System.Data.SqlClient" />

	<add name="DCT"
       connectionString="/a5g0UiOeD5EoLYYxbrChyxsQJYlRH2p553CA2PHcR1Iqboq+8XFCbnkuTLjakcYFDmuFhEPRC0rgclhNR+FpRsmBmLHgitkRom35I+fYod8lT9i1jDYIiBRFKEK6s155UE4FuRvmF1+3dl9A61BLg=="
       providerName="System.Data.SqlClient" />

	<add name="DCTWEB"
       connectionString="/a5g0UiOeD5EoLYYxbrChyxsQJYlRH2p553CA2PHcR3Yb5MRQ4uA3MEMwZ9EjxlOvtY/KvOVqkxBpxlrF1DCVlBeGpBbiDloL9FAbTLq+DX8DwlthUcNBlmUunbNGrIxcQ+Iv86mQNWHIrPPsSEusg=="
       providerName="System.Data.SqlClient" />

	<add name="DCTWEBUM"
       connectionString="/a5g0UiOeD5EoLYYxbrChyxsQJYlRH2p553CA2PHcR36VMGMO4suz/R6/n3VIL2iHI53ulO1GlvO7ualymUcPmgOekc3tG5ZjNnXPauUb+s6WmeKPqAatBFaCz+cmRwIgRc+W5wyDo6Yth3MMKSXvQ=="
       providerName="System.Data.SqlClient" />
	
	<add name="WEBINSYST"
       connectionString="/a5g0UiOeD5EoLYYxbrChyxsQJYlRH2p553CA2PHcR1/R+QMRNLO30OCnc5bzDPnLEULr5Oyrh69/x8ilrr0SnG6b6CFIMh/GCafkG4mXuK8uD65clbFMgLgwEDQsC76APiTWugj1niQQlKW4kL9e9T8KMdNnEHr5JXvIxjyxQk="
       providerName="System.Data.SqlClient" />

	<add name="ACTIVITIES"
       connectionString="/a5g0UiOeD5EoLYYxbrChyxsQJYlRH2p553CA2PHcR1IfekGhcJDaWmIz5j4WEaYS275+4jAAapdmN7UhVWLBeW22huqozER6z0oQarYYcRqI1DXv3QV3xWjT/49KDaJvS+VDfsT9f2EV6O8fkZe88beSrUtpEz1X/hl7sv4jRqaTXqmX83sNbAKBWdfkj0g"
       providerName="System.Data.SqlClient" />

	<add name="ADVHR"
       connectionString="/a5g0UiOeD5EoLYYxbrChyxsQJYlRH2p553CA2PHcR0BMcdmL7W1Pjsd2ES3YapMzqfg2+1NFzXvApvE108mJQZaCiubU+VcaBhdYSSAm6FhoufBFByZIXoSoAoVcQ43bX0v32Q5mPxAsW5scgOWSr+JtEXdaCxvp0JldbEiczY="
       providerName="System.Data.SqlClient" />
	
	<add name="ADVAM"
       connectionString="/a5g0UiOeD5EoLYYxbrChyxsQJYlRH2p553CA2PHcR0+4PtDuD7JXBdVEiWwQ9Hx/dotZiSaASZ/J3sAGJz27jAc5QCgZ62PXA+RRKS8eByQ3XzLC4O90vpbMrhGTGQfqnvKXC8pgNmoBRw/T3VGzROFNn/LUlZJaTSkeoK4gPY="
       providerName="System.Data.SqlClient" />

	<add name="ADVWH"
       connectionString="/a5g0UiOeD5EoLYYxbrChyxsQJYlRH2p553CA2PHcR1XLH9fB+kkH0rtNR6+FsYXi04N2csL3GLr61e93pB18n2m0jIwlCwsM2iEoGxCOmkl4W2E8vezvVaEdsiq6ysmo06xTUUVol6CHFSmeYuH2fSBj5ZU5ofvDgjxVEKSnsw="
       providerName="System.Data.SqlClient" />

	<add name="ADVFIN"
	   connectionString="/a5g0UiOeD5EoLYYxbrChyxsQJYlRH2p553CA2PHcR2BSd2T+q/iOA30k4O0EgdcxPgi0p1Ms2ao2GBiAcWpMrWq0F3qcqseX+j10VWmn4/ApCgPh7W9JyjkY5sJ6wqr3K0nZ9pf1OiNfXfbiA/XCA=="
       providerName="System.Data.SqlClient" />
	<add name="ADVPAY"
		 connectionString="/a5g0UiOeD5EoLYYxbrChyxsQJYlRH2p553CA2PHcR1Hwykq6Uu7aQqIhdgESxuEYYb8E/h5RZ0cC5iAnd4D2p1DD5+pn+Ud3UqfIeFH930PNsXif5mlZuN7Nh4Du+AjSqveWHdYfSjAzE8mKPwzvg=="
		 providerName="System.Data.SqlClient" />
	
	<add name="ADVPSIKOTEST"
		 connectionString="/a5g0UiOeD5EoLYYxbrChyxsQJYlRH2p553CA2PHcR1kwpjsci0XF5S2LyB3W0YZ2beD7fpoEoDYD4LfXCeefWr42ijC/t/FHGl7sYKyMDL55zdgKFmDjmQ1yCBFjsnDO6TyvbEbgqIzlyRcoBsQ4w=="
		 providerName="System.Data.SqlClient" />
	
  <add name ="Excel03ConString"
     connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};
                         Extended Properties='Excel 8.0;HDR={1}'"/>

  <add name ="Excel07ConString"
       connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};
                         Extended Properties='Excel 8.0;HDR={1}'"/>

</connectionStrings>