<connectionStrings>
  <clear/>
  <add name="CCM"
       connectionString="Data Source=localhost;Initial Catalog=CCM_DB;User Id=sa;Password=p455w0rd;Application Name=DCTWEB"
       providerName="System.Data.SqlClient" />
  <add name="INSYST"
       connectionString="Data Source=localhost;Initial Catalog=Advantage;User Id=sa;Password=p455w0rd;Application Name=DCTWEB"
       providerName="System.Data.SqlClient" />
  <add name="DCT"
       connectionString="Data Source=localhost;Initial Catalog=Advantage;User Id=sa;Password=p455w0rd;Application Name=DCTWEB"
       providerName="System.Data.SqlClient" />
  <add name="DCTWEB"
       connectionString="Data Source=localhost;Initial Catalog=DA;User Id=sa;Password=p455w0rd;Application Name=DCTWEB"
       providerName="System.Data.SqlClient" />
  <add name="DCTWEBUM"
       connectionString="Data Source=localhost;Initial Catalog=UM_DB;User Id=sa;Password=p455w0rd;Application Name=DCTWEB"
       providerName="System.Data.SqlClient" />
  <add name="WEBINSYST"
       connectionString="Data Source=localhost;Initial Catalog=Insyst;User Id=sa;Password=p455w0rd;Application Name=DCTWEB"
       providerName="System.Data.SqlClient" />
  <add name="ACTIVITIES"
		 connectionString="Data Source=localhost;Initial Catalog=ACTIVITIES;User Id=sa;Password=p455w0rd;Application Name=ACTIVITIES"
		 providerName="System.Data.SqlClient" />
  <add name="ADVHR"
       connectionString="Data Source=localhost;Initial Catalog=ADVHR;User Id=sa;Password=p455w0rd;Application Name=ADVHR"
       providerName="System.Data.SqlClient" />
  <add name="ADVAM"
       connectionString="Data Source=localhost;Initial Catalog=ADVAM;User Id=sa;Password=p455w0rd;Application Name=ADVAM"
       providerName="System.Data.SqlClient" />
  <add name="ADVWH"
       connectionString="Data Source=localhost;Initial Catalog=ADVWH;User Id=sa;Password=p455w0rd;Application Name=ADVWH"
       providerName="System.Data.SqlClient" />
</connectionStrings>