<connectionStrings>
  <clear/>
  <add name="DCT4"
       connectionString="Data Source=10.10.0.223;Initial Catalog=DCT4;User Id=sa;Password=pass@word1;Application Name=DCTWEB"
       providerName="System.Data.SqlClient" />
  <add name="INSYST"
       connectionString="Data Source=192.168.10.9;Initial Catalog=Insyst_2;User Id=sa;Password=P@ssitadv42;Application Name=DCTWEB"
       providerName="System.Data.SqlClient" />
  <add name="DCT"
       connectionString="Data Source=10.10.0.223;Initial Catalog=Advantage;User Id=sa;Password=pass@word1;Application Name=DCTWEB"
       providerName="System.Data.SqlClient" />
  <add name="DCTWEB"
       connectionString="Data Source=10.10.0.223;Initial Catalog=DA;User Id=sa;Password=pass@word1;Application Name=DCTWEB"
       providerName="System.Data.SqlClient" />
  <add name="DCTWEBUM"
       connectionString="Data Source=10.10.0.223;Initial Catalog=UM_DB;User Id=sa;Password=pass@word1;Application Name=DCTWEB"
       providerName="System.Data.SqlClient" />   
  <add name="DCTWEBUM"
       connectionString="Data Source=10.10.0.223;Initial Catalog=UM_DB;User Id=sa;Password=pass@word1;Application Name=DCTWEB"
       providerName="System.Data.SqlClient" />  
  <add name="WEBINSYST"
       connectionString="Data Source=10.10.0.223;Initial Catalog=Insyst_2;User Id=sa;Password=pass@word1;Application Name=DCTWEB"
       providerName="System.Data.SqlClient" />
  <add name="WEBINSYST_OLD"
       connectionString="Data Source=10.10.0.223;Initial Catalog=Insyst;User Id=sa;Password=pass@word1;Application Name=DCTWEB"
       providerName="System.Data.SqlClient" />
  <add name="ACTIVITIES"
		 connectionString="Data Source=10.10.0.223;Initial Catalog=ACTIVITIES;User Id=sa;Password=pass@word1;Application Name=ACTIVITIES"
		 providerName="System.Data.SqlClient" />
	<add name="ADVHR"
		 connectionString="Data Source=10.10.0.223;Initial Catalog=ADVHR;User Id=sa;Password=pass@word1;Application Name=ADVHR"
		 providerName="System.Data.SqlClient" />
  <add name="ADVFIN"
       connectionString="Data Source=10.10.0.223;Initial Catalog=ADVFIN;User Id=sa;Password=pass@word1;Application Name=ADVFIN"
       providerName="System.Data.SqlClient" />
  <add name="ADVAM"
       connectionString="Data Source=10.10.0.223;Initial Catalog=ADVAM;User Id=sa;Password=pass@word1;Application Name=ADVAM"
       providerName="System.Data.SqlClient" />

  <add name="ADVPAY"
		 connectionString="Data Source=10.10.0.223;Initial Catalog=ADVPAY;User Id=sa;Password=pass@word1;Application Name=ADVPAY"
		 providerName="System.Data.SqlClient" />
  <add name="ADVWH"
		 connectionString="Data Source=10.10.0.223;Initial Catalog=ADVWH;User Id=sa;Password=pass@word1;Application Name=ADVWH"
		 providerName="System.Data.SqlClient" />  	
	
  <add name ="Excel03ConString"
     connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};
                         Extended Properties='Excel 8.0;HDR={1}'"/>

  <add name ="Excel07ConString"
       connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};
                         Extended Properties='Excel 8.0;HDR={1}'"/>

</connectionStrings>